<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ActivityBacklog"></activity>
        <activity android:name=".activity.ActivityDetailSprint" />
        <activity
            android:name=".activity.ActivityRegister"
            android:parentActivityName=".activity.ActivityLogin" />
        <activity
            android:name=".activity.ActivityStartSprint"
            android:parentActivityName=".activity.ActivityMain" />
        <activity
            android:name=".activity.ActivityLogin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityAddEpic"
            android:parentActivityName=".activity.ActivityMain" />
        <activity
            android:name=".activity.ActivityEpic"
            android:label="@string/title_activity_epic"
            android:parentActivityName=".activity.ActivityMain" />
        <activity
            android:name=".activity.ActivityAddBacklog"
            android:parentActivityName=".activity.ActivityMain" />
        <activity
            android:name=".activity.ActivityAddProject"
            android:parentActivityName=".activity.ActivityHome" />
        <activity
            android:name=".activity.ActivityHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>